# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,69.31,84,100,12.86,overcast clouds
1,1,Ostrovnoy,RU,68.0531,39.5131,46.18,86,80,16.17,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.35,63,69,20.85,broken clouds
3,3,Chuy,UY,-33.6971,-53.4616,58.86,84,100,12.19,overcast clouds
4,4,Souillac,MU,-20.5167,57.5167,71.98,73,75,10.36,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature for your trip?"))

What is the minimum temperature for your trip?65
What is the maximum temperature for your trip?80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [10]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,69.31,84,100,12.86,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.35,63,69,20.85,broken clouds
4,4,Souillac,MU,-20.5167,57.5167,71.98,73,75,10.36,broken clouds
10,10,Faanui,PF,-16.4833,-151.7500,78.19,75,0,24.49,clear sky
11,11,Tuy Hoa,VN,13.0833,109.3000,78.15,90,100,3.80,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
650,650,Veraval,IN,20.9000,70.3667,79.72,77,37,11.50,scattered clouds
651,651,Shakawe,BW,-18.3667,21.8500,75.38,22,0,6.73,clear sky
652,652,Yei,SS,4.0950,30.6779,65.89,92,98,2.37,light rain
658,658,Adiake,CI,5.2863,-3.3040,74.44,94,76,5.82,light rain
669,669,Nazas,MX,25.2333,-104.1333,71.02,48,100,7.67,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [11]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,69.31,84,100,12.86,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,69.35,63,69,20.85,broken clouds
4,4,Souillac,MU,-20.5167,57.5167,71.98,73,75,10.36,broken clouds
10,10,Faanui,PF,-16.4833,-151.7500,78.19,75,0,24.49,clear sky
11,11,Tuy Hoa,VN,13.0833,109.3000,78.15,90,100,3.80,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
650,650,Veraval,IN,20.9000,70.3667,79.72,77,37,11.50,scattered clouds
651,651,Shakawe,BW,-18.3667,21.8500,75.38,22,0,6.73,clear sky
652,652,Yei,SS,4.0950,30.6779,65.89,92,98,2.37,light rain
658,658,Adiake,CI,5.2863,-3.3040,74.44,94,76,5.82,light rain
669,669,Nazas,MX,25.2333,-104.1333,71.02,48,100,7.67,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [13]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

                City Country  Max Temp Current Description      Lat       Lng
0    Arraial Do Cabo      BR     69.31     overcast clouds -22.9661  -42.0278
2            Rikitea      PF     69.35       broken clouds -23.1203 -134.9692
4           Souillac      MU     71.98       broken clouds -20.5167   57.5167
10            Faanui      PF     78.19           clear sky -16.4833 -151.7500
11           Tuy Hoa      VN     78.15     overcast clouds  13.0833  109.3000
..               ...     ...       ...                 ...      ...       ...
650          Veraval      IN     79.72    scattered clouds  20.9000   70.3667
651          Shakawe      BW     75.38           clear sky -18.3667   21.8500
652              Yei      SS     65.89          light rain   4.0950   30.6779
658           Adiake      CI     74.44          light rain   5.2863   -3.3040
669            Nazas      MX     71.02     overcast clouds  25.2333 -104.1333

[204 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [14]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,69.31,overcast clouds,-22.9661,-42.0278,
2,Rikitea,PF,69.35,broken clouds,-23.1203,-134.9692,
4,Souillac,MU,71.98,broken clouds,-20.5167,57.5167,
10,Faanui,PF,78.19,clear sky,-16.4833,-151.7500,
11,Tuy Hoa,VN,78.15,overcast clouds,13.0833,109.3000,
...,...,...,...,...,...,...,...
650,Veraval,IN,79.72,scattered clouds,20.9000,70.3667,
651,Shakawe,BW,75.38,clear sky,-18.3667,21.8500,
652,Yei,SS,65.89,light rain,4.0950,30.6779,
658,Adiake,CI,74.44,light rain,5.2863,-3.3040,
669,Nazas,MX,71.02,overcast clouds,25.2333,-104.1333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [15]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [17]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# Display sample data
hotel_df.head()

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [18]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,69.31,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
2,Rikitea,PF,69.35,broken clouds,-23.1203,-134.9692,People ThankYou
4,Souillac,MU,71.98,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
10,Faanui,PF,78.19,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
11,Tuy Hoa,VN,78.15,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "Weather_Py_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 69.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 71.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CenDeluxe Hotel Tuy Hoa</dd>\n<dt>City</dt><dd>Tuy Hoa</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Melrose</dd>\n<dt>City</dt><dd>Sambava</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Thorn Tree by The Address</dd>\n<dt>City</dt><dd>Mwingi</dd>\n<dt>Country</dt><dd>KE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 66.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>moderate rain and 76.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.07 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [22]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -22.9661  -42.0278
2  -23.1203 -134.9692
4  -20.5167   57.5167
10 -16.4833 -151.7500
11  13.0833  109.3000
15  -9.8000 -139.0333
18 -14.2667   50.1667
20  -0.9344   38.0601
30 -21.2000 -175.2000
32 -24.8667  113.6333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [26]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))